---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>niyabits</title>
  </head>
  <body>
    <header class="flex flex-col w-screen items-center mt-12">
      <h2 class="text-gray-950">Niya (she/her)</h2>
      <h3 class="text-gray-800">
        email: <a
          class="hover:text-violet-600 underline underline-offset-4"
          href="mailto:saturn.bits@pm.me">saturn.bits@pm.me</a
        >
      </h3>
      <h3 class="text-gray-800">
        I tinker around with softwares, ideas, and things.
      </h3>
    </header>
    <!-- <main class="max-w-3xl mx-auto mt-24">
      <h2 class="text-xl">Writing</h2>
    </main> -->
  </body>
</html>
