---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>niyabits</title>
  </head>
  <body>
    <main class="max-w-screen-sm mx-auto">
      <header class="mt-32">
        <h2 class="text-gray-950">Niya (she/her)</h2>
        <h3 class="text-gray-800">
          <a
            class="hover:text-indigo-700 underline underline-offset-4"
            href="mailto:niyabits@gmail">niyabits@gmail.com</a
          >
        </h3>
        <h3 class="text-gray-800">
          Developer at <a
            class="hover:text-indigo-700 underline underline-offset-4"
            href="https://magicbell.com/">MagicBell</a
          >
        </h3>
      </header>
      <p class="mt-6 max-w-xl">
        I am a trans woman based in India. <br />
        I speak fluent English and Hindi and I am currently learning German. <br
        />
        I am pursuing a BSc in Computer Science from University of London. <br
        /><br />
        <a
          class="hover:text-indigo-700 underline underline-offset-4"
          href="https://magicbell.com/">MagicBell</a
        >: Currently working as a Developer;
        <br />
        <a
          class="hover:text-indigo-700 underline underline-offset-4"
          href="https://coko.foundation/">Coko Foundation</a
        >: Worked as a Frontend Engineer for an year;
      </p>
    </main>
  </body>
</html>
